Package: com.domg.taptoviewnotification
Name: TapToViewNotification
Description: A tweak that fixes haptic feedback on notifications for iPhone 8. Original creator: mmshivesh
Version: 1.0.1
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate, firmware (>=13.0)
Maintainer: Domg <dom.gregori@gmail.com>
Author: Domg <dom.gregori@gmail.com>
