Package: com.domg.holdtoviewnotification
Name: HoldToViewNotification
Description: A tweak that fixes haptic feedback on notifications for iPhone 8.
Version: 1.0.2
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate, firmware (>=13.0)
Maintainer: Domg <dom.gregori@gmail.com>
Author: Domg <dom.gregori@gmail.com>
